{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<br>
<h2 align = "center"> About</h2>
<div class="container">
    <div style="margin:20px; text-align: justify;">
        <p> Hello, my name is Konstantin and I like to learn new things. This is a personal project an idea for which was given to me by my wife.
            We typically meal prep for the week and, sometimes, it's hard to decide on what to cook. Also, oftentimes, we forget the nice recipes we used in the past.
            As such, this project aims to solve the above challenges. It stores the recipes that we feed it and can also generate a random recipe
            to use based on select tags.
        </p> 
    </div>
</div>

{% endblock %}