{% extends "base.html" %}

{% block title %}
    Diclaimer
{% endblock %}

{% block content %}
<div class="container">
    <br>
        <h2 align = "center">Disclaimer</h2>

        <div style = "margin:20px; text-align: justify;"> 
            <p>Please read this disclaimer ("disclaimer") carefully before using https://vbageek14.pythonanywhere.com/ website ("website", "service") operated by Konstantin Alexeev ("us", 'we", "our").</p>

            <p>The content displayed on the website is for general information purposes only. We do not make any warranties about the completeness, reliability, and accuracy of this information. Any action you take upon the information you find on this website, is strictly at your own risk. We will not be liable for any losses and/or damages in connection with the use of this website.</p>

            <p>Our website may contain links to external websites that are not provided or maintained by or in any way affiliated with https://vbageek14.pythonanywhere.com/. Please note that we do not guarantee the accuracy, relevance, timeliness, or completeness of any information on these external websites.</p>

            <p>The website is provided "as is," with all faults, and we express no representations or warranties, of any kind related to this website or the materials contained on this website.</p>

            <p><strong>This website is intended for demonstration purposes only. Creating an account on this website should only be done for the purpose of seeing its functionality and should not be used for any other purpose. We are not responsible for any damages or losses related to the use of this website.</strong></p>

            <p>This disclaimer is subject to change at any time.</p>

        </div>
</div>

{% endblock %}

