{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container">
    <form method = "POST">
        <br>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <h3 align="center">Login</h3>
        <div class="form-group">
            <label for="email"> Email Address </label>
            <input 
                type="email" 
                class="form-control" 
                id="email" 
                name="email" 
                placeholder="Enter email"
                style ="max-width: 600px;"
            />
        </div>
    
        <div class="form-group">
            <label for="password"> Password </label>
            <input 
                type="password" 
                class="form-control" 
                id="password1" 
                name="password" 
                placeholder="Enter password"
                style ="max-width: 600px;"
            />
        </div>
    
    <div class="form-group">
        <button type="submit" class ="btn btn-primary">Login</button>
        <small class="text-muted ml-2">
            <a href="{{ url_for('auth.reset_request') }}">Forgot Password?</a>
        </small>
    </div>

    <style>
        @media only screen and (max-width: 600px) {
            input[type="email"],
            input[type="password"], 
            label,
            button                 {
                display: block;
                margin: 0 auto;
                text-align: left;
        }

        .navbar-toggler {
            margin-left: 0;
        }
    
    }
        
    </style>
    
    </form>
    
    </div>
{% endblock %}