{% extends "base.html" %}

{% block title %}
    Meal Picker
{% endblock %}

{% block content %}
<br>
<div>
    <div>
        <label for="tag-select"><p style="font-size: 16px;">Select a tag:</p></label>
        <select id="tag-select">
            <option value = "nothing"></option>
            {% for tag in tags %}
                <option value="{{ tag }}">{{ tag }}</option>
            {% endfor %}
        </select>
        <button type = "submit" id="get-random-recipe-btn" class="btn btn-primary">Get Random Recipe</button>
    </div>

    <div class = "card">
        <div id="randomRecipeSection" style="display: none;">
            <div class="card-header text-center vertical-center">
                <div id="randomRecipeName" style="display: inline-block;"></div>
            </div>

            <div class="card-body">
                <div>
                    <label for = "randomRecipeLink" style = "display: inline-block;"><p style = "font-size: 16px;">Recipe link:</p></label>
                    <div>
                        <a id="randomRecipeLink" href="#" target="_blank" style = "white-space: pre-line;"></a>
                    </div>
                    <br>
                    <label for = "randomRecipe" style = "display: inline-block;"><p style = "font-size: 16px;">Recipe: </p></label>
                    <div>
                        <pre id="randomRecipe" style="display: inline-block; white-space: pre-line;"></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='mealPicker.js') }}"></script>
{% endblock %}