{% extends "base.html" %}

{% block title %}
    Meal Prep
{% endblock %}

{% block content %}
<br>
<div style="margin-left: 20px;">
<label for="tag-select"><p style="font-size: 18px;">Select a tag:</p></label>
<select id="tag-select">
    {% for tag in tags %}
        <option value="{{ tag }}">{{ tag }}</option>
    {% endfor %}
</select>
<button type = "submit" class="btn btn-primary">Get Random Note</button>
<div id="randomNote"></div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='meal_prep.js') }}"></script>
{% endblock %}
