{% extends "base.html" %}

{% block title %}Recipies{% endblock %}

{% block content %}
<h1 align = "center">Recipies</h1>

<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
        <div style="text-align: center;">
            {{ note.data }}
        </div>
        <br>
        <pre>{{ note.data_recipe }}</pre>

        <button type ="button" class="close" onClick = "deleteNote({{ note.id }})">
            <span aria-hidden=""true>&times;</span>

        </button>

    </li>   
    {% endfor %}
</ul>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='deleteNote.js') }}"></script>
{% endblock %}