{% extends "base.html" %}

{% block title %}Recipes{% endblock %}

{% block content %}
<br>
<h2 align = "center">Recipes</h2>
<br>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".recipe-collapse" aria-expanded="false" aria-controls="collapseAll" style="display: block; margin-left: 10px;">
    Toggle All Recipes
</button>



<div class="list-group list-group-flush" id="notes" style = "margin: 10px;">
    {% for note in notes %}
    <div class="card">
        <div class="card-header" id="heading{{ note.id }}">
            <h7 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ note.id }}" aria-expanded="true" aria-controls="collapse{{ note.id }}">
                    {{ note.data }}
                </button>
            </h7>

            <button type ="button" class="close" onClick = "deleteNote({{ note.id }})">
                <span aria-hidden=""true>&times;</span>
    
            </button>
        </div>

        <div id="collapse{{ note.id }}" class="collapse" aria-labelledby="heading{{ note.id }}" data-parent="#accordion">
            <div class="card-body">
                <h7 Link: </h7>
                    <p>Recipe link: 
                        {% if note.recipe_link %}
                            <a href="{{ note.recipe_link }}" target="_blank" style="white-space: pre-line">{{ note.recipe_link }}</a>
                        {% else %}
                            None
                        {% endif %}
                    </p>                    
                <p style="white-space: pre-line;">Tag(s): {% if note.tags %}{{ note.tags }}{% else %} None{% endif %}</p>
                <pre style="white-space: pre-line;">{{ note.data_recipe }}</pre>
            </div>
        </div>
    </div>
    
    {% endfor %}
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='deleteNote.js') }}"></script>
<script src="{{ url_for('static', filename='toggleRecipe.js') }}"></script>
<script src="{{ url_for('static', filename='collapseAll.js') }}"></script>
{% endblock %}
