{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container">
<form method = "POST">
    <br>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <h3 align="center">Sign Up</h3>
    <div class="form-group"
        <label for="email"> Email Address </label>
        <input 
            type="email" 
            class="form-control" 
            id="email" 
            name="email" 
            placeholder="Enter email"
            style ="max-width: 600px;"
        />
    </div>
    <div class="form-group"
        <label for="firstName"> First Name </label>
        <input 
            type="text" 
            class="form-control" 
            id="firstName" 
            name="firstName" 
            placeholder="Enter first name"
            style ="max-width: 600px;"
        />
    </div>

    <div class="form-group"
        <label for="lastName"> Last Name </label>
        <input 
            type="text" 
            class="form-control" 
            id="lastName" 
            name="lastName" 
            placeholder="Enter last name"
            style ="max-width: 600px;"
        />
    </div>

    <div class="form-group"
        <label for="password1"> Password </label>
        <input 
            type="password" 
            class="form-control" 
            id="password1" 
            name="password1" 
            placeholder="Enter password"
            style ="max-width: 600px;"
        />
    </div>

    <div class="form-group"
    <label for="password2"> Password (Confirm)</label>
    <input 
        type="password" 
        class="form-control" 
        id="password2" 
        name="password2" 
        placeholder="Confirm password"
        style ="max-width: 600px;"
    />
</div>

<button type="submit" class ="btn btn-primary">Submit</button>


<style>
    @media only screen and (max-width: 600px) {
        input[type="email"],
        input[type="password"], 
        input[type="text"],
        label,
        button                 {
            display: block;
            margin: 0 auto;
            text-align: left;
    }
        .navbar-toggler {
                margin-left: 0;
            }


}
    
</style>
</form>

</div>
{% endblock %}